beshot.png
beshot2.png
cake.pdf
2020-04-20_country_ages.png
2020-04-20_country_dates.png
2020-04-20_country_sexes.png
ESIT.pdf
Fist.pdf
Fist.svg
MJAtweet.png
OutputDB.png
RiffeDataLabTalk20April2020.Rmd
Riffe_CED_05June2020.Rmd
cake.svg
coveragemap.pdf
svm-latex-beamer.tex
inputDB.png
germany_micro_vs_john_hopkings.png
ftgraphic.png
dudelshot.png
dowdshot.png
coveragemaptitle.pdf
coveragemap.svg
offsets.csv
Output_5.zip
Rizzipaper.png
SABfig.pdf
SABfig.svg
SABfig2_sex_cfr_pop.pdf
SABfigs.R
SABlightningtalk.log
SABlightningtalk.nav
SABlightningtalk.pdf
SABlightningtalk.snm
SABlightningtalk.synctex.gz
SABlightningtalk.tex
SABlightningtalk.toc
coveragedbpreprint.png
coveragemap20201103.pdf
coveragemap20201103.svg
coveragemapSAB.pdf
coveragemap_manuscript.pdf
coveragemap_manuscript.svg
dudelplosone.png
fig2_sex_cfr_pop.png
svg-inkscape
GlobalDiscussionF1.pdf
GlobalDiscussionF1.png
GlobalDiscussionF1.svg
GlobalDiscussionF2.pdf
GlobalDiscussionF2.png
GlobalDiscussionF2.svg
GlobalDiscussionF3.pdf
GlobalDiscussionF3.png
GlobalDiscussionF3.svg
GlobalDiscussionFig2.png
GlobalDiscussionFig3.png
PAHOfig.png
ascfr_b1.png
c19_deaths.png
coveragemap202103.15_1.png
coveragemap202103.15_1.svg
coveragemap202103.15edits_1.svg
