beshot.png
beshot2.png
cake.pdf
2020-04-20_country_ages.png
2020-04-20_country_dates.png
2020-04-20_country_sexes.png
ESIT.pdf
Fist.pdf
Fist.svg
MJAtweet.png
OutputDB.png
RiffeDataLabTalk20April2020.Rmd
Riffe_CED_05June2020.Rmd
cake.svg
coveragemap.pdf
svm-latex-beamer.tex
inputDB.png
germany_micro_vs_john_hopkings.png
ftgraphic.png
dudelshot.png
dowdshot.png
coveragemaptitle.pdf
coveragemap.svg
