NYC_proj_pop_2020_Cornell.xls
NYC_proj_pop_2020_Cornell.csv
canada_population_2020_by_province.csv
Output_5.rds
Output_10.rds
inputDB.rds
PUBLIC-CDC-Event-Date-SARS.xlsx
m0s7-10903.xlsx
inputDBhold.rds
sonderauswertung-sterbefaelle.xlsx
log.txt
COVIDSummaryData.csv
NetherlandsOffsets.csv
JapanOffsets.xls
ItalyOffsets.csv
GreeceOffsets.csv
a01000.xlsx
a00100_all.xlsx
inputCounts.rds
Offsets.rds
ProcessingSteps.Rdata
ENdeaths.xlsx
NZcases.xlsx
Output_5_1e6.rds
Output_5_100.rds
Output_5_1e5.rds
rubric_old.rds
NL
TaiwanOffset.csv
CanadaOffsets.csv
metadata_tabs.rds
Current
Archive
Output_10.csv
Output_5.csv
inputDB.csv
offsets.csv
tab3.rds
tab2.rds
tab1.rds
metadata_table.rds
test.txt
WPPpop.csv
pastethese.csv
Bollettinos
Data series TimeLine_AA (1).xlsx
Data series TimeLine.xlsx
metadata_basic.rds
metadata_important.rds
inputDB_i.rds
inputDB.zip
Output_10.zip
Output_5.zip
PE26.08.2020cases&deaths.zip
PE26.08.2020cases.csv
PE26.08.2020deaths.csv
PE27.08.2020deaths.csv
PE27.08.2020cases&deaths.zip
PE27.08.2020cases.csv
Guinea
France_Output_5.csv
France_InputDB.csv
India_hold.rds
covid-cases-26oct20.xlsx
201030COVID19MEXICO.csv
temp.zip
PH
qualityMetrics.csv
qualityMetrics.zip
owid-covid-data.xlsx