NYC_proj_pop_2020_Cornell.xls
NYC_proj_pop_2020_Cornell.csv
canada_population_2020_by_province.csv
Output_5.rds
Output_10.rds
inputDB.rds
PUBLIC-CDC-Event-Date-SARS.xlsx
m0s7-10903.xlsx
inputDBhold.rds
sonderauswertung-sterbefaelle.xlsx
log.txt
COVIDSummaryData.csv
NetherlandsOffsets.csv
JapanOffsets.xls
ItalyOffsets.csv
GreeceOffsets.csv
a01000.xlsx
a00100_all.xlsx
inputCounts.rds
Offsets.rds
ProcessingSteps.Rdata
ENdeaths.xlsx
NZcases.xlsx
Output_5_1e6.rds
Output_5_100.rds
Output_5_1e5.rds
rubric_old.rds
NL
TaiwanOffset.csv
CanadaOffsets.csv
metadata_tabs.rds
Current
Archive
Output_10.csv
Output_5.csv
inputDB.csv
offsets.csv
tab3.rds
tab2.rds
tab1.rds
metadata_table.rds
test.txt
.~lock.NZcases.xlsx#
