NYC_proj_pop_2020_Cornell.xls
NYC_proj_pop_2020_Cornell.csv
canada_population_2020_by_province.csv
Output_5.rds
Output_10.rds
inputDB.rds
PUBLIC-CDC-Event-Date-SARS.xlsx
m0s7-10903.xlsx
inputDBhold.rds
sonderauswertung-sterbefaelle.xlsx
log.txt
COVIDSummaryData.csv
NetherlandsOffsets.csv
JapanOffsets.xls
ItalyOffsets.csv
GreeceOffsets.csv
a01000.xlsx
a00100_all.xlsx
inputCounts.rds
Offsets.rds
ProcessingSteps.Rdata
ENdeaths.xlsx
NZcases.xlsx
Output_5_1e6.rds
Output_5_100.rds
Output_5_1e5.rds
rubric_old.rds
NL
TaiwanOffset.csv
CanadaOffsets.csv
metadata_tabs.rds
Current
Archive
Output_10.csv
Output_5.csv
inputDB.csv
offsets.csv
tab3.rds
tab2.rds
tab1.rds
metadata_table.rds
test.txt
.~lock.NZcases.xlsx#
DOH COVID Data Drop_ 20200711 - 04 Case Information (1).csv
DOH COVID Data Drop_ 20200711 - 07 Testing Aggregates.csv
WPPpop.csv
pastethese.csv
Bollettinos
Data series TimeLine_AA (1).xlsx
Data series TimeLine.xlsx
DOH COVID Data Drop_ 20200718 - 04 Case Information.csv
DOH COVID Data Drop_ 20200718 - 07 Testing Aggregates.csv
DOH COVID Data Drop_ 20200728 - 04 Case Information.csv
DOH COVID Data Drop_ 20200728 - 07 Testing Aggregates.csv
DOH COVID Data Drop_ 20200809 - 04 Case Information.csv
DOH COVID Data Drop_ 20200809 - 07 Testing Aggregates.csv
metadata_basic.rds
metadata_important.rds
inputDB_i.rds
DOH COVID Data Drop_ 20200813 - 04 Case Information.csv
DOH COVID Data Drop_ 20200813 - 07 Testing Aggregates.csv
DOH COVID Data Drop_ 20200817 - 04 Case Information.csv
DOH COVID Data Drop_ 20200817 - 07 Testing Aggregates.csv
inputDB.zip
