CA_Montreal_trigger.log
Colombia_trigger.log
Germany_trigger.log
USA_all_deaths_trigger.log
US_NYC_trigger.log
Venezuela_trigger.log
Mexico_trigger.log
US_Massachusetts_trigger.log
US_Virginia_trigger.log
Estonia_trigger.log
Netherlands_trigger.log
Peru_trigger.log
Sweden_trigger.log
US_Michigan_trigger.log
US_Texas_trigger.log
US_Wisconsin_trigger.log
Austria_trigger.log
New_Zealand_trigger.log
Germany_trigger.log
Slovenia_trigger.log
Colombia_trigger.log
Czechia_trigger.log
ES_Basque_Country_trigger.log
Philippines_trigger.log
Scotland_trigger.log
Norway_trigger.log
US_California_trigger.log
US_California_trigger.R
CA_Montreal_trigger.R
Colombia_trigger.R
Germany_trigger.R
USA_all_deaths_trigger.R
US_NYC_trigger.R
Venezuela_trigger.R
Mexico_trigger.R
US_Massachusetts_trigger.R
US_Virginia_trigger.R
Estonia_trigger.R
Netherlands_trigger.R
Peru_trigger.R
Sweden_trigger.R
US_Michigan_trigger.R
US_Texas_trigger.R
US_Wisconsin_trigger.R
Austria_trigger.R
New_Zealand_trigger.R
Germany_trigger.R
Slovenia_trigger.R
Colombia_trigger.R
Czechia_trigger.R
ES_Basque_Country_trigger.R
Philippines_trigger.R
Scotland_trigger.R
Norway_trigger.R
Afghanistan_trigger.log
Afghanistan_trigger.R
US_Maine_trigger.R
US_Maine_trigger.log
ECDC_trigger.R
ECDC_trigger.log
USA_deaths_states_trigger.log
USA_deaths_states_trigger.R
.Rhistory
USA_deaths_states_trigger.log
Finland_trigger.log
Finland_trigger.R
Bulgaria_trigger.log
Bulgaria_trigger.R
Denmark_trigger.log
Denmark_trigger.R
US_Iowa_trigger.log
US_Iowa_trigger.R

