US_OR_screencaptures.log
US_ID_screencaptures.log
Lebanon_screencaptures.log
Rwanda_screencaptures.log
Palestine_screencaptures.log
US_KS_screencaptures.log
US_AZ_screencaptures.log
Jamaica_screencaptures.log
Indonesia_screencaptures.log
El_Salvador_screencaptures.log
US_MO_screencaptures.log
