CA_Montreal.log
Colombia.log
Germany.log
USA_all_deaths.log
US_NYC.log
Venezuela.log
Mexico.log
US_Massachusetts.log
US_Virginia.log
Estonia.log
Netherlands.log
Peru.log
Sweden.log
US_Michigan.log
US_Texas.log
US_Wisconsin.log
Austria.log
New_Zealand.log
USA_deaths_all_states.log
German_sch.log
Slovenia_sch.log
Slovenia.log
.Rhistory
Colombia_sch.log
Czechia.log
triggers
